<h1>Fiction Books</h1>
<div class="banner">
   <div id="header" class="scroll">
        <span class="slide">
            <a href="../assets/text/1984.txt"><img src="../assets/images/f3.jpg" alt="" width="150" height="200"></a>
            <h4>PRIDE AND PREJUDICE</h4>
            <div class="btns" >
             <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>
            </div>
        </span>
        <span class="slide">
            <a href="../assets/text/Ghosts Of The Silent Hills.txt"><img src="../assets/images/f2.jpg" alt="" width="150" height="200"></a> 
            <h4>DARK MATTER</h4>
            <div class="btns">
            <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>  
            </div>         
        </span>
        <span class="slide">
            <a href="../assets/text/Theilluminated.txt"><img src="../assets/images/f4.jpg" alt="" width="150" height="200"></a>
            <h4>WHEREABOUTS</h4>
            <div class="btns">
            <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>
        </div>
        </span>    
    </div>
</div>
